
@{
    ViewData["Title"] = "Upload & View Images";
}

<h1>Upload an Image</h1>

<!-- Form to Upload Image -->
<form asp-action="Upload" asp-controller="Image" method="post" enctype="multipart/form-data">
    <input type="file" name="imageFile" class="form-control" required />
    <button type="submit" class="btn btn-success mt-2">Upload</button>
</form>

<hr />

<h2>Uploaded Images</h2>
<div class="row">
    @foreach (var image in Model)
    {
        <div class="col-md-3">
            <img src="~/images/@image" class="img-thumbnail" style="width: 100%; height: 200px;" asp-append-version="true" />
        </div>
    }
</div>

